@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

:root {
	--black-rep:#2f2f2f;
	--lightgrey:#f6f8f8;
}

body, html {
	margin:0;
	padding:0;
	font-family: 'IBM Plex Sans', sans-serif;
}

.left {
	float:left;
}

.right {
	float:right;
}

.bold {
	font-weight:bold;
}

.maincontent.padded {
	padding:0 10%;
}

.clearfix {
	overflow: auto;
}

.navbar .right {
	display:table;
}

.navbar .right a {
	display: inline-block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:var(--black-rep);
    text-decoration:none;
    padding:0 10px;
    margin-left:10px;
    margin-right:10px;
    border:2px solid white;
    border-radius:5px;
    border-spacing:9px;
    -moz-transition: border .3s;
    -o-transition: border .3s;
    -webkit-transition: border .3s;
    transition: border .3s;
}

.navbar .right a:hover {
	border:2px solid var(--black-rep);
	border-radius:5px;
}

.index-split {
	width:100%;
	height:80vh;
}

.index-left {
	float:left;
	display:table;
	height:100%;
	background-color:var(--black-rep);
	width:43%;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    padding-left:7%;
}

.index-left .content h1 {
    font-size: 3.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}



.index-left .content {
	display: table-cell;
	vertical-align: middle;
	color:var(--lightgrey);
}

.index-right {
	float:right;
	display:table;
	height:100%;
	background-color:var(--lightgrey);
	width:43%;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
    padding-left:7%;
}

.index-right .content {
	display: table-cell;
	vertical-align: middle;
	color:var(--black-rep);
}

.index-right .content h1 {
    font-size: 3.5em;
    margin-block-start: 0;
    margin-block-end: 0;
}

.thin {
	font-weight:lighter;
}

.footer {
    text-align:center;
}

.footer p {
    color:grey;
}


/*BUTTONS*/

.btn {
    padding: 15px;
    border-radius: 5px;
    line-height: 3;
    text-decoration:none;
    transition:background-color .3s;
    font-size: 22px;
    font-weight: bold;
    background-color:var(--bgc);
    color:var(--hlc);
}

.btn:hover {
    background-color:var(--hovc);
}

.btn.outline {
    line-height:3;
    padding:11px;
    border:4px solid var(--bgc);
    color:var(--bgc);
    background-color:var(--hlc);
}

.btn.outline:hover {
    background-color: var(--olhovc)!important;
}

.btn.outline.light,.btn.outline.dark {
    line-height:3;
    padding:11px;
    border:4px solid var(--hlc);
    color:var(--hlc);
    background-color:var(--bgc);
}

/*.btn.outline.light:hover,.btn.outline.dark:hover {
    background-color: var(--hovc)!important;
}*/

.btn.light {
    --bgc:var(--lightgrey);
    --hlc:var(--black-rep);
    --hovc:#dadada;
    --olhovc:#dadada;
}

.btn.dark {
    --bgc:var(--black-rep);
    --hlc:var(--lightgrey);
    --hovc:#4e4e4e;
    --olhovc:#4e4e4e;
}

.btn.blue {
    --bgc:#0D79F2;
    --hlc:white;
    --hovc:#479af7;
    --olhovc: #cbe4ff;
}

.btn.red {
    --bgc:red;
    --hlc:white;
    --hovc: #ff5b5b;
    --olhovc:#ffdede;
}

.btn.green {
    --bgc:#3FAF9D;
    --hlc:white;
    --hovc: #5fc1b1;
    --olhovc: #e1fff9;
}

.btn.disabled {
    pointer-events: none;
    opacity:.4;
}