@font-face {
	font-family:"A little sunshine";
	src:url("https://scarecrowrow2.github.io/assets/sunshine.ttf");
}

@font-face {
	font-family:"Hello Scarecrow";
	src:url("https://scarecrowrow2.github.io/assets/HelloScarecrow.ttf");
}

@font-face {
	font-family:"Sunshine2";
	src:url("https://scarecrowrow2.github.io/assets/sunshine_2.ttf");
}

@font-face {
	font-family:"happy";
	src:url("https://scarecrowrow2.github.io/assets/happy.ttf");
}

@font-face {
	font-family:"Space Age";
	src:url("https://jackcrane.github.io/static/cdn/fonts/spaceAge.otf");
}

@font-face {
	font-family:"SpaceAge";
	src:url("https://jackcrane.github.io/static/cdn/fonts/spaceAge.otf");
}

@font-face {
	font-family:"Product Sans";
	src:url("https://jackcrane.github.io/static/cdn/fonts/productSans.ttf");
}

@font-face {
	font-family:"Hacked";
	src:url("https://jackcrane.github.io/static/cdn/fonts/hacked.ttf");
}

@font-face {
	font-family:"Library";
	src:url("https://jackcrane.github.io/static/cdn/fonts/library.otf");
}